[user]
    name = Chris Garvis
    email = cgarvis@gmail.com
[diff]
[color]
    ui = auto
[core]
    editor = vim
    autocrlf = false
    filemode = false
[alias]
    st = status
    di = diff
    dc = diff --cached
    amend = commit --amend
    aa = add --all
    ff = merger --ff-only
    pl = pull --ff-only
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
