.DS_Store

/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/Workspaces

.asdf
.cache
.CFUserTextEncoding
.hex
.history
.lesshst
.local
.mix
.node_repl_history
.npm
.psql_history
.ssh
.viminfo
.wget-hsts
.zcompdump-*
.zsh_sessions
