[user]
    name = Chris Garvis
    email = cgarvis@gmail.com
[diff]
[color]
    ui = auto
[core]
    editor = vim
    autocrlf = false
    filemode = false
[alias]
    a = add
    aa = add --all
    amend = commit --amend
    di = diff
    dc = diff --cached
    ff = merger --ff-only
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    p = push
    pl = pull --ff-only
    pr = pull --rebase
    st = status
    fuck = "!git add -A && git commit --fixup HEAD && git rebase --autosquash -i HEAD~2"
    
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[rebase]
    autosquash = true
