/go
/.Trash
/.apex
/.bash_history
/.bazaaar
/.bundle
/.cache
/.docker
/.gem
/.npm
/.ssh
/.terraform.d
/.up
/.zsh_history
*.DS_Store
*~

# Home directory
/Applications
/Desktop
/Documents
/Downloads
/Library
/Media
/Movies
/Music
/Pictures
/Public
/projects
